<%= form_with(model: program_dummy, local: true) do |form| %>
  <% if program_dummy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(program_dummy.errors.count, "error") %> prohibited this program_dummy from being saved:</h2>

      <ul>
        <% program_dummy.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
