<p id="notice"><%= notice %></p>

<h1>Program Dummies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @program_dummies.each do |program_dummy| %>
      <tr>
        <td><%= program_dummy.name %></td>
        <td><%= link_to 'Show', program_dummy %></td>
        <td><%= link_to 'Edit', edit_program_dummy_path(program_dummy) %></td>
        <td><%= link_to 'Destroy', program_dummy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Program Dummy', new_program_dummy_path %>
