<%= form_with(model: program, local: true) do |form| %>
  <% if program.errors.any? %>
    <div id="error-messages" class="alert alert-danger" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <b class="alert-heading"><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved</b>
      <hr>
      <p class="mb-0">
        <% program.errors.full_messages.each do |message| %>
        <i class="fas fa-exclamation-circle"></i>
          <%= message %><br/>
        <% end %>
      </p>
    </div>

<% if false %>
    <div id="error_explanation">
      <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
        <% program.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>
  <% end %>

  <%= content_tag(:div, class: "form-group row") do
    form.label( :member, class: "col-md-4 col-form-label" ) +
    form.text_field( :member, class: "form-control mb-4 col-md-8", placeholder: "member" )
  end %>

  <%= content_tag(:div, class: "form-group row") do
    form.label( :library_id, class: "col-md-4 col-form-label" ) +
    form.collection_select( :library_id, Library.all, :id, :name, {}, :class => "browser-default custom-select col-md-8" )
  end %>

  <%= content_tag(:div, class: "form-group row") do
    form.label( :source_file_id, class: "col-md-4 col-form-label" ) +
    form.collection_select( :source_file_id, SourceFile.all, :id, :name, {}, :class => "browser-default custom-select col-md-8" )
  end %>

  <%= content_tag(:div, class: "form-group row") do
    form.label( :code_id, class: "col-md-4 col-form-label" ) +
    form.collection_select( :code_id, Code.all, :id, :name, {}, :class => "browser-default custom-select col-md-8" )
  end %>

  <%= content_tag(:div, class: "form-group row") do
    form.label( :transfers, class: "col-md-4 col-form-label" ) +
    form.number_field( :transfers, class: "form-control mb-4 col-md-8", placeholder: "transfers" )
  end %>

  <%= content_tag(:div, class: "custom-control custom-checkbox row" ) do
    form.check_box( :is_sftp, {class: "custom-control-input col-1"}, "true", "false") +
    form.label( :is_sftp, class: "custom-control-label col-5" ) +
    form.check_box( :is_ready, {class: "custom-control-input col-1"}, "true", "false") +
    form.label( :is_ready, class: "custom-control-label col-5" )
  end %>

<hr/>

  <!-- Send button -->
  <%= form.submit "Send", class: "btn btn-info btn-block" %>
<% if false %>
  <div class="field">
    <%= form.label :member %>
    <%= form.text_field :member %>
  </div>

  <div class="field">
    <%= form.label :library_id %>
    <%= form.text_field :library_id %>
  </div>

  <div class="field">
    <%= form.label :source_file_id %>
    <%= form.text_field :source_file_id %>
  </div>

  <div class="field">
    <%= form.label :code_id %>
    <%= form.text_field :code_id %>
  </div>

  <div class="field">
    <%= form.label :is_sftp %>
    <%= form.check_box :is_sftp %>
  </div>

  <div class="field">
    <%= form.label :is_ready %>
    <%= form.check_box :is_ready %>
  </div>

  <div class="field">
    <%= form.label :transfers %>
    <%= form.number_field :transfers %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<% end %>
