<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @source_file.name %>
</p>

<p>
  <strong>Library:</strong>
  <%= @source_file.library_id %>
</p>

<%= link_to 'Edit', edit_source_file_path(@source_file) %> |
<%= link_to 'Back', source_files_path %>
