<p id="notice"><%= notice %></p>

<h1>Related Programs</h1>

<table>
  <thead>
    <tr>
      <th>Parent</th>
      <th>Child</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @related_programs.each do |related_program| %>
      <tr>
        <td><%= related_program.parent %></td>
        <td><%= related_program.child %></td>
        <td><%= link_to 'Show', related_program %></td>
        <td><%= link_to 'Edit', edit_related_program_path(related_program) %></td>
        <td><%= link_to 'Destroy', related_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Related Program', new_related_program_path %>
